.site-nav {
    display: block;
    padding-top: 8rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: center;
    background-image: url(https://traffic-refinery.github.io/assets/tr.png);
    background-size: 12rem;
}